.discount{
    background: url(https://t3.ftcdn.net/jpg/03/35/74/56/360_F_335745675_MaxYxSsadrviZdThITuHB2oCohYOiwEu.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}