.offerTab1 {
    background: url(https://img.freepik.com/premium-photo/italian-pizza-pizza-cooking-ingredients-dark-background_179369-231.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.offerTab2 {
    background: url(https://ecobnb.com/blog/app/uploads/sites/3/2021/01/organic-food-benefits.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}